<!doctype html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
    <head th:replace="~{layout :: page_head}"></head>
    <body class="d-flex flex-column min-vh-100">
        <header th:replace="~{layout :: page_navbar}"></header>

        <div th:replace="~{layout :: notification(${response})}"></div>

        <main class="flex-grow-1">
            <div class="container py-3">
                <h1 class="text-center my-4">COLLABORATEUR</h1>
            </div>

            <div class="container">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Date d'embauche</th>
                        <!--<th scope="col">Administrateur</th>-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${response.data.id}"></td>
                        <td th:text="${response.data.nom}"></td>
                        <td th:text="${response.data.prenom}"></td>
                        <td th:text="${response.data.dateEmbauche}"></td>
                        <!--<td th:text="${response.data.administrateur}"></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="container my-2">
                <h3 class="text-center my-4">Modifier le collaborateur</h3>
                <form th:action="@{/collaborateurs/edit/{id}(id=${response.data.id})}" method="post" th:object="${collaborateur}">
                    <div class="d-flex column-gap-4 justify-content-center">
                        <div>
                            <label for="nom" class="me-1">Nom</label>
                            <input type="text" th:field="*{nom}" id="nom">
                        </div>
                        <div>
                            <label for="prenom" class="me-1">Prénom</label>
                            <input type="text" th:field="*{prenom}" id="prenom">
                        </div>
                        <div>
                            <label for="dateEmbauche" class="me-1">Date d'embauche</label>
                            <input type="date" th:field="*{dateEmbauche}" id="dateEmbauche">
                        </div>
                    </div>
                    <div class="d-flex column-gap-2 justify-content-around mt-3">
                        <button type="submit" class="btn btn-success">Valider</button>
                        <div>
                            <a th:href="@{/collaborateurs/delete/{id}(id=${response.data.id})}" class="btn btn-danger">
                                Supprimer
                            </a>
                        </div>
                    </div>
                </form>
            </div>

            <div class="container" th:if="${collabCurrentAff != null and !collabCurrentAff.empty}">
                <h3 class="text-center my-4">Affectation en cours</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Date de Debut</th>
                        <th scope="col">Restaurant</th>
                        <th scope="col">Collaborateur</th>
                        <th scope="col">Fonction</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="affectation : ${collabCurrentAff}" th:onclick="|window.location.href='/affectations/' + ${affectation.id}|" style="cursor:pointer;">
                        <td th:text="${affectation.id}"></td>
                        <td th:text="${affectation.dateDebut}"></td>
                        <td th:text="${affectation.restaurant.nom}"></td>
                        <td th:text="${affectation.collaborateur.prenom + ' ' + affectation.collaborateur.nom}"></td>
                        <td th:text="${affectation.fonction.nom}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="container" th:if="${collabHistoryAff != null}">
                <h3 class="text-center my-4">Historique des affectations</h3>
                <div class="container mb-4" th:if="${filter != null}">
                    <form th:action="@{/collaborateurs/{id}/filter(id=${response.data.id})}" method="post" th:object="${filter}">
                        <div class="d-flex column-gap-4 justify-content-center align-items-center flex-wrap">
                            <div>
                                <label for="filterNom" class="me-1">Nom</label>
                                <input type="text" th:field="*{collaborateurNom}" id="filterNom">
                            </div>
                            <div>
                                <label for="filterPrenom" class="me-1">Prénom</label>
                                <input type="text" th:field="*{collaborateurPrenom}" id="filterPrenom">
                            </div>
                            <div>
                                <label for="filterDateDebutAffectation" class="me-1">Date du début d'affectation</label>
                                <input type="date" th:field="*{affectationDateDebut}" id="filterDateDebutAffectation">
                            </div>
                            <div>
                                <label for="filterfonction" class="me-1">Fonction</label>
                                <input type="text" th:field="*{fonction}" id="filterfonction">
                            </div>
                            <button type="submit" class="btn btn-primary">filtrer</button>
                        </div>
                    </form>
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Date de Debut</th>
                        <th scope="col">Date de Fin</th>
                        <th scope="col">Restaurant</th>
                        <th scope="col">Collaborateur</th>
                        <th scope="col">Fonction</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="affectation : ${collabHistoryAff}" th:onclick="|window.location.href='/affectations/' + ${affectation.id}|" style="cursor:pointer;">
                        <td th:text="${affectation.id}"></td>
                        <td th:text="${affectation.dateDebut}"></td>
                        <td th:text="${affectation.dateFin}"></td>
                        <td th:text="${affectation.restaurant.nom}"></td>
                        <td th:text="${affectation.collaborateur.prenom + ' ' + affectation.collaborateur.nom}"></td>
                        <td th:text="${affectation.fonction.nom}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </main>

        <footer th:replace="~{layout :: page_footer}"></footer>
    </body>
</html>