<!doctype html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
    <head th:replace="~{layout :: page_head}"></head>
    <body>
        <nav th:replace="~{layout :: page_navbar}"></nav>

        <div th:replace="~{layout :: notification(${response})}"></div>

        <div class="container py-3">
            <div class="text-center my-4">FONCTIONS</div>
        </div>

        <div class="container">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="fct : ${fonctions}" th:onclick="|window.location.href='/fonctions/' + ${fct.id}|" style="cursor:pointer;">
                    <td th:text="${fct.id}"></td>
                    <td th:text="${fct.nom}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="container py-3">
            <div class="text-center my-4">Nouvelle Fonction</div>
            <form th:action="@{/fonctions/newfonction}" method="post" th:object="${fonction}">
                <div>
                    <label for="nom">Nom</label>
                    <input type="text" th:field="*{nom}" id="nom">
                </div>
                <button type="submit">Valider</button>
            </form>
        </div>

        <footer th:replace="~{layout :: page_footer}"></footer>
    </body>
</html>