<!doctype html>
<html lang="en" xmlns:th=“http://www.thymeleaf.org”>
    <head th:replace="~{layout :: page_head}"></head>
    <body class="d-flex flex-column min-vh-100">
        <header th:replace="~{layout :: page_navbar}"></header>

        <div th:replace="~{layout :: notification(${response})}"></div>

        <main class="flex-grow-1">
            <div class="container pt-3">
                <h1 class="text-center my-4">RESTAURANTS</h1>
            </div>

            <div class="container mb-4" th:if="${filterRestaurant != null}">
                <form th:action="@{/restaurants/filtered}" method="post" th:object="${filterRestaurant}">
                    <div class="d-flex column-gap-4 justify-content-center align-items-center flex-wrap">
                        <div>
                            <label for="filterNom" class="me-1">Nom</label>
                            <input type="text" th:field="*{nom}" id="filterNom">
                        </div>
                        <div>
                            <label for="filterAdresse" class="me-1">Adresse</label>
                            <input type="text" th:field="*{adresse}" id="filterAdresse">
                        </div>
                        <div>
                            <label for="filterCodePostal" class="me-1">Code postal</label>
                            <input type="text" th:field="*{codePostal}" id="filterCodePostal">
                        </div>
                        <div>
                            <label for="filterVille" class="me-1">Ville</label>
                            <input type="text" th:field="*{ville}" id="filterVille">
                        </div>
                        <button type="submit" class="btn btn-primary">filtrer</button>
                    </div>
                </form>
            </div>

            <div class="container">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Code postal</th>
                        <th scope="col">Ville</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="resto : ${response.data}" th:onclick="|window.location.href='/restaurants/' + ${resto.id}|" style="cursor:pointer;">
                        <td th:text="${resto.id}"></td>
                        <td th:text="${resto.nom}"></td>
                        <td th:text="${resto.adresse}"></td>
                        <td th:text="${resto.codePostal}"></td>
                        <td th:text="${resto.ville}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="container mb-5">
                <h3 class="text-center my-4">Nouveau Retaurant</h3>
                <form th:action="@{/restaurants/new}" method="post" th:object="${restaurant}" class="d-flex flex-column row-gap-2">
                    <div>
                        <label for="nom" class="me-1">Nom</label>
                        <input type="text" th:field="*{nom}" id="nom">
                    </div>
                    <div>
                        <label for="adresse" class="me-1">adresse</label>
                        <input type="text" th:field="*{adresse}" id="adresse">
                    </div>
                    <div>
                        <label for="codePostal" class="me-1">code postal</label>
                        <input type="text" th:field="*{codePostal}" id="codePostal">
                    </div>
                    <div>
                        <label for="ville" class="me-1">ville</label>
                        <input type="text" th:field="*{ville}" id="ville">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>
                </form>
            </div>
        </main>

        <footer th:replace="~{layout :: page_footer}"></footer>
    </body>
</html>